!!! XML
%response
  %order
    %transaction_id= "#{transaction_id}"
    %amount= "#{amount}"
    %currency EUR
    - if is_paid
      %payed true
      %consumer
        %consumerName Hr J Janssen
        %consumerAccount P001234567
        %consumerCity Amsterdam
      %message MollieBank: wel betaald
    - else
      %payed false
      %message MollieBank: niet betaald
