.hero-unit
  %h1 Mollie Bank <small>v#{MollieBank::VERSION}</small>
  %p Test your transactions on your local machine

.row
  .span4
    %h1 Step 1
    %p Make sure you change the url <a>https://secure.mollie.nl/xml/ideal</a> into <a>http://localhost:4567/xml/ideal</a>
    %p If you are using a existing framework/module, you might find additional implementation information on the <a href="https://github.com/manuelvanrijn/mollie-bank/wiki/Implement-into-existing-modules">Wiki: 'Implement into existing modules'</a>.
  .span4
    %h1 Step 2
    %p Make sure the <code>returnurl</code> and the <code>reporturl</code> are set to your local address. So for example you would have:
    <code>http://localhost/report.php</code> and<br /><br />
    <code>http://localhost/return.php</code>
  .span4
    %h1 Step 3
    Go to the bank selection page of your application and you'll now see <strong>"Mollie Bank"</strong> in the bank selection.
